In [1]:
import pymongo
import pandas as pd


mongo = pymongo.MongoClient('mongodb+srv://admin:safeRadmin@saferouter-ydztv.mongodb.net/test?retryWrites=true&w=majority', maxPoolSize=50, connect=False)

db = pymongo.database.Database(mongo, 'saferouterdb')
col = pymongo.collection.Collection(db, 'safety-info')

In [17]:
df = pd.read_csv("safety_data.csv",names=["rating","score","info","longitude","latitude"])
df = df.to_dict("r")

In [18]:
safety_col = col.insert(df)

/home/ikenna/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

In [3]:
data = []
for row in col.find({},{"_id": 0,"rating":1,"score":1,"info":1,"longitude":1,"latitude":1}):
    data.append(row)
df = pd.DataFrame(data)

In [4]:
df.head()

,info,latitude,longitude,rating,score
0,HIGH VEHICLE COLLISIONS AT MULTIPLE INTERSECTION,-38.059880,145.373810,1,1.0
1,HIGH FIXED OBJECT COLLISION AT MULTIPLE INTERS...,-37.860971,145.211214,1,1.0
2,HIGH VEHICLE COLLISIONS AT ROAD,-37.824552,144.979539,1,1.0
3,HIGH VEHICLE COLLISIONS AT ROAD,-37.844310,145.039204,1,1.0
4,HIGH FIXED OBJECT COLLISION AT ROAD,-37.998740,145.281300,1,1.0